# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
.env/

# Environment variables
*.env
.env.*

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# DB Log file
quiz_results.db